{%- assign title = block.settings.title -%}
{%- assign collection = collections[block.settings.frontpage_collection] -%}
{%- assign frontpage_products_per_row = block.settings.frontpage_products_per_row -%}
{%- assign frontpage_products_limit = block.settings.frontpage_products_limit -%}
{%- assign products = collection.products -%}
{%- assign products_per_row = frontpage_products_per_row -%}

<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {% if title != blank %}
        <h2 class="title">
          {% if collection != blank %}<a href="{{ collection.url }}">{% endif %}
            {{ title | escape }}
          {% if collection != blank %}</a>{% endif %}
        </h2>
        {% if collection != blank %}
          <div class="section clearfix">
            {{ collection.description }}
          </div>
        {% endif %}
      {% endif %}

      {% if products.length > 0 %}
        {% assign limit = frontpage_products_limit %}
        {% render 'product-loop',
                products: products,
                limit: limit,
                products: products,
                products_per_row: products_per_row
        %}
      {% else %}
        {% assign limit = frontpage_products_limit %}
        <div class="featured-collection--placeholder clearfix">
          {% for i in (1..limit) %}
            <div class="
                sidebar-disabled
                {% if products_per_row == 2 %} eight columns
                {% elsif products_per_row == 3 %} one-third column
                {% elsif products_per_row == 4 %} four columns
                {% endif %}
              thumbnail">
              <a href="#">
                <div class="relative product_image">
                  {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                  {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
                </div>
                <div class="info">
                  <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                    <span class="price">
                    <span class="money">$49.60</span>
                  </span>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
