{% comment %}
** Gallery - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign title = section.settings.title | escape -%}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

<div class="gallery-section">
  {% if title != blank %}
    <div class="container">
      <div class="sixteen columns">
        <h4 class="gallery-section__title">
          {{ title }}
        </h4>
      </div>
    </div>
  {% endif %}

  {% if section.settings.wide_display == false %}
  <div class="container">
    <div class="sixteen columns">
  {% endif %}

  <section>
    {% if blocks.size > 0 %}
      <div class="gallery-section__bar">
        {% for block in blocks %}
          {% comment %} Content settings {% endcomment %}
          {%- assign image = block.settings.image -%}
          {% comment %} End content settings {% endcomment %}
          <div class="gallery-section__image images-per-row-{{ section.settings.images_per_row }}" {{ block.shopify_attributes }}>
            {% if image != blank %}
              <a href="{{ image |  img_url: '2000x' }}" rel="gallery" class="lightbox {% unless section.settings.wide_display %}gallery-section__image-padding{% endunless %}">
                {% render 'image-element',
                        image: image,
                        alt: image.alt,
                        stretch_width: true
                %}
              </a>
            {% else %}
              <div class="{% unless section.settings.wide_display %}gallery-section__image-padding{% endunless %}">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>

  {% if section.settings.wide_display == false %}
    </div>
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Gallery",
    "class": "image-gallery-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "range",
        "id": "images_per_row",
        "label": "Images per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
